html{
  scroll-behavior: smooth;
}
hr{
  border-style: solid;
}
/* ------Controlo diferentes backgrounds-------*/
.bg-orange{
  background-color: orange;
}
.bg-black{
background-color: black;
}
.bg-skyblue{
background-color: skyblue;
}
/*Controlo el diseño de mis enlaces en el index*/
.encales1 a{
  font-size: 28px;
}
.enlacesu1 a:link {
  color: black;
}
.enlacesu1 a:visited {
  color: rgb(17, 64, 102);
}
.enlacesu1 a:focus {
  border-bottom: 2px solid;
  background: #003af7;
}
.enlacesu1 a:hover {
  border-bottom: 1px solid;
  background: #003af7;
}

.enlacesu1 a:active {
  background: #265301;
  color: #003af7;
}
/*--------------------------------------------------------*/
/* ------Controlo diferentes tamaños de letra y color-------*/
.text-40{
font-size: 40px;
}
.text-32{
font-size: 32px;
}
.text-28{
font-size: 28px;
}
.text-orange{
color: orangered;
}
.text-blue{
color: blue;
}
/*--------------------------------------------------------*/
/*controlo que el texto este en el centro*/
.text-center{
text-align: center;
}
/*--------------------------------------------------------*/
/* me controla que las listas no ordenadas no tengan las viñetas*/
.list-style{
list-style:none;
}

/*footerU1*/
.tabla-footeru1{
  margin: 0 auto;
  text-align: center;
}


