/* Regla CSS consta de dos partes: 
  1. Selector: elemento HTML al que le aplicaremos el estilo 
  2. Bloque de declaraciones: sintaxis {
        atributo: valor;
        atributo-de-mas-dos-palabras: otro-valor;
  }

  Selectores basicos
    1)etiquetas - elementos html
    2)identificadores - atributo id #
    3)clases - atributto class .
  */

/* ------Controlo diferentes backgrounds-------*/
html{
  scroll-behavior: smooth;
}
hr{
  border-style: solid;
}
.bg-orange{
    background-color: orange;
    
}

.bg-skyblue{
  background-color: skyblue;
  
}
/*Controlo el diseño de mis enlaces en el index*/
.enlaces a{
  font-size: 28px;
}
.enlaces a:link {
  color: black;
}
.enlaces a:visited {
  color: rgb(17, 64, 102);
}
.enlaces a:focus {
  border-bottom: 2px solid;
  background: #003af7;
}
.enlaces a:hover {
  border-bottom: 1px solid;
  background: #003af7;
}

.enlaces a:active {
  background: #265301;
  color: #003af7;
}
/*--------------------------------------------------------*/
/* ------Controlo diferentes tamaños de letra y color-------*/
.text-40{
  font-size: 40px;
}
.text-32{
  font-size: 32px;
}
.text-28{
  font-size: 28px;
}
.text-orange{
  color: orangered;
}
.text-blue{
  color: blue;
}
/*--------------------------------------------------------*/
/*controlo que el texto este en el centro*/
.text-center{
  text-align: center;
}

/*--------------------------------------------------------*/
/* me controla que las listas no ordenadas no tengan las viñetas*/
.list-style{
  list-style:none;
}

/*footer*/
.tabla-footer{
  margin: 0 auto;
  text-align: center;
}