html{
  scroll-behavior: smooth;
}
hr{
  border-style: solid;
}
.bg-orangem{
    background-color: orange;
    
}

.bg-skybluem{
  background-color: skyblue;
  
}
/*Controlo el diseño de mis enlaces en el index*/
.enlacesm a{
  font-size: 28px;
}
.enlacesm a:link {
  color: black;
}
.enlacesm a:visited {
  color: rgb(17, 64, 102);
}
.enlacesm a:focus {
  background: #003af7;
}
.enlacesm a:hover {
  background: #003af7;
}

.enlacesm a:active {
  background: #265301;
  color: #003af7;
}
/*--------------------------------------------------------*/
/* ------Controlo diferentes tamaños de letra y color-------*/
.text-40m{
  font-size: 40px;
}
.text-32m{
  font-size: 32px;
}
.text-28m{
  font-size: 28px;
}
.sec-materias b{
  font-size: 28px;
}
.text-orangem{
  color: orangered;
}
.text-bluem{
  color: blue;
}
/*--------------------------------------------------------*/
/*controlo que el texto este en el centro*/
.text-centerm{
  text-align: center;
}

/*--------------------------------------------------------*/
/* me controla que las listas no ordenadas no tengan las viñetas*/
.list-stylem{
  list-style:none;
}
.list-actividades >li{
  color: black;
  font-size: 28px;
}

/*  */
.sec-materias summary{
  color: blue;
  font-size: 32px;
}
.sec-materias p{
  font-size: 28px;
  color: black;
}
/*footer*/
.tabla-footerm{
  margin: 0 auto;
  text-align: center;
}