html{
  scroll-behavior: smooth;
}
hr{
  border-style: solid;
}
/* ------Controlo diferentes backgrounds-------*/
.bg-orangeu2{
  background-color: orange;
}
.bg-blacku2{
background-color: black;
}
.bg-skyblueu2{
background-color: skyblue;
}

/*Controlo el diseño de mis enlaces la unidad 2*/
.enlacesu2 a{
  font-size: 28px;
}
.enlacesu2 a:link {
  color: black;
}
.enlacesu2 a:visited {
  color: rgb(17, 64, 102);
}
.enlacesu2 a:focus {
  border-bottom: 2px solid;
  background: #003af7;
}
.enlacesu2 a:hover {
  border-bottom: 1px solid;
  background: #003af7;
}

.enlacesu2 a:active {
  background: #265301;
  color: #003af7;
}
/*--------------------------------------------------------*/
/* ------Controlo diferentes tamaños de letra y color-------*/
.text-40u2{
font-size: 40px;
}
.text-32u2{
font-size: 32px;
}
.text-28u2{
font-size: 28px;
}
.text-orangeu2{
color: orangered;
}
.text-blueu2{
color: blue;
}
/*--------------------------------------------------------*/
/*controlo que el texto este en el centro*/
.text-centeru2{
text-align: center;
}
/*--------------------------------------------------------*/
/* me controla que las listas no ordenadas no tengan las viñetas*/
.list-styleu2{
list-style:none;
}

/*footerU2*/
.tabla-footeru2{
  margin: 0 auto;
  text-align: center;
}